@using AntDesignBlazorWasm.Components.Previews
@inherits ComponentBase

<div>
    <Menu Mode="MenuMode.Horizontal">
        <Dropdown Placement="Placement.Bottom" Overlay="@_menuDisplay" Arrow="true">
            <MenuItem Class="item-animation">首页</MenuItem>
        </Dropdown>
        <MenuItem Class="item-animation">新番</MenuItem>
    </Menu>
</div>
@* 预览 *@

@code {

    RenderFragment _menuDisplay = @<MenuPreview></MenuPreview>;
    
}