@inherits ComponentBase

<div>
    <Menu Mode="MenuMode.Horizontal">
        <MenuItem Class="item-animation">首页</MenuItem>
        <MenuItem Class="item-animation">新番</MenuItem>
    </Menu>
</div>
@* 预览 *@

@code {

    RenderFragment _menuDisplay = @<Menu></Menu>;
    
}